.shop-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 330px;
  width: 265px;
  padding: 10px;
  gap: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.list-view > .shop-card {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  padding: 0em;
}

.shop-image {
  width: 100%;
  height: 50%;
  border-radius: 12px;
  position: relative;
  background-color: #0e1529;
}

.list-view > .shop-card > .shop-image {
  width: 30%;
  height: 100%;
}

.shop-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.shop-image img:hover {
  transform: scale(1.05);
}

.shop-description {
  width: 100%;
  height: 20%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 7px;
}

.list-view > .shop-card > .shop-description {
  width: 45%;
  height: 100%;
  padding: 1.5em 0.5em;
}

.shop-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  max-height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1f2c4c;
}

.shop-title:hover {
  background-color: #f2f2f2;
  transition: background-color 0.3s ease-in-out;
}

.shop-description span {
  padding: 0.5em 0em;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 16px;
}

.list-view > .shop-card > .shop-pay {
  width: 25%;
  height: 100%;
  padding: 1.5em 1.5em 1.5em 0.5em;
  flex-direction: column;
  align-items: flex-start;
}

.list-view > .shop-card > .shop-pay > button {
  flex-basis: auto;
}

.list-view > .shop-card > .shop-pay > .shop-footer {
  margin-bottom: 1.5em;
}

.shop-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-footer > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 70%;
  padding: 0.3em 0.9em;
  font-weight: 700;
  font-size: 11px;
  color: #fff;
  background: var(--primaryColor);
  border: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.shop-footer > a:hover {
  background-color: #15203b;
}

.shop-footer > a:active {
  background-color: #0e1529;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
