.dashboard-page {
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
  background-color: var(--primaryColor);
}

.dashboard-page > .menu {
  width: 20%;
  height: 100%;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  color: #ffffff;
}

.dashboard-page > .menu > .logo {
  height: 45px;
}

.dashboard-page > .menu > .logo > h1 {
  height: 100%;
  line-height: 0.9;
}

.dashboard-page > .menu > .menu-items {
  flex-grow: 1;
}

.dashboard-page > .menu > .menu-items > li {
  margin-bottom: 1em;
}

.dashboard-page > .menu > .menu-items > li > a {
  display: flex;
  align-items: center;
  height: 3em;
  width: 100%;
  padding: 0.3em 0.9em;
  font-weight: 700;
  font-size: 11px;
  color: #fff;
  border-radius: 12px 0 0 12px;
  transition: background-color 0.3s ease;
}

.dashboard-page > .menu > .menu-items > li > a:hover {
  background-color: #fff;
  color: var(--primaryColor);
}

.dashboard-page > .menu > .menu-items > li > a.active {
  background-color: #fff;
  color: var(--primaryColor);
}

.dashboard-page > .menu > button {
  width: 100%;
  color: #fff;
  background-color: var(--primaryColor);
  border: none;
  cursor: pointer;
  margin-top: 20em;
}

.dashboard-page > .menu > button:hover {
  color: #ff0000;
}

.dashboard-page > .dashboard--page {
  width: 80%;
  height: 100%;
  min-height: 100vh;

  padding: 0 2em;
  background-color: #fff;
  border-top-left-radius: 12px;
  display: flex;
  flex-direction: column;
}

.dashboard-page > .dashboard--page > .header {
  height: 60px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.dashboard-page > .dashboard--page > .header > h3 {
  font-size: 20px;
  font-weight: 600;
}

.dashboard-page > .dashboard--page > .header > p {
  font-size: 16px;
  margin-top: 4px;
  font-family: "Open Sans";
  color: #a9a9a9;
}

.dashboard-page > .dashboard-content-page > .main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.dashboard-page > .dashboard-content-page > .main > h3 {
  padding-bottom: 0.7em;
}

.dashboard-page > .dashboard-content-page > .main > .top {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 1em;
}

.dashboard-page > .dashboard-content-page > .main > .top > .right {
  width: 30%;
  height: 100%;
  max-height: 375px;
}

.dashboard-page > .dashboard-content-page > .main > .top > .left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.summary-item {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  background: #f1f5f9;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
}
.summary-item > div {
  display: flex;
  gap: 1em;
}
.summary-item > div > h4 {
  font-size: 12px;
  font-weight: 700;
}

.summary-item > p {
  font-size: 12px;
  font-weight: 700;
  color: var(--primaryColor);
}

.sales-analytics {
  /* height: 280px; */
  flex: 1;
  width: 100%;
  padding: 1em;
  background: #f1f5f9;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
}

canvas {
  height: 300px;
}

.store-info {
  height: 100%;
  padding: 1em;
  background: #f1f5f9;
  border: 1px solid #f0f0f0;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.store-info img {
  width: 100%;
  height: 150px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 12px;

  background-color: #15203b;
}

.store-info h3 {
  font-size: 18px;
  font-weight: 500;
}

.store-info a {
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fff;
  background-color: var(--primaryColor);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.store-info a:hover {
  background-color: #15203b;
}

.store-info a:active {
  background-color: #0e1529;
}

.product-metrics,
.product-table {
  height: 100%;
  /* overflow-y: auto; */
}

.product-metrics table,
.product-table > table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.product-metrics thead,
.product-table thead {
  height: 40px;
  background: #f1f5f9;
  border: 1px solid #eff0f4;
  border-radius: 12px 12px 0 0;
}

.product-metrics th,
.product-table th {
  font-weight: 600;
  font-size: 13px;
  color: #505470;
  padding: 0.4em 1em;
}

.product-metrics td,
.product-table td {
  padding: 0.4em 1em;
  text-align: center;
  font-size: 13px;
}

.dashboard-orders-page .main h3 {
  margin-top: 0.5em;
}

.dashboard-orders-page .filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}

.dashboard-orders-page .filter {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 8px;
}

.dashboard-orders-page .filter label {
  font-size: 0.9em;
  font-weight: 500;
  color: #191919;
}

.order-info > select {
  font-size: 11px;
  font-weight: 500;
  color: #191919;
  padding: 0.3em;
  border-radius: 8px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  cursor: pointer;
}

.dashboard-orders-page .order-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

.dashboard-orders-page .order-item {
  background-color: #f2f8fd;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-orders-page .order-info p {
  margin: 0;
  font-size: 0.9em;
  color: #191919;
}

.dashboard-products-page > .main > .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8em 0 1.5em 0;
}

.product-table-add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 9em;
  padding: 0.3em 0.9em;
  font-weight: 700;
  color: #1f2c4c;
  background-color: #fff;
  border: 2px solid #1f2c4c;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.product-table-add:hover {
  background-color: #f5f5f5;
}
.product-table-add:active {
  background-color: #d1d1d1;
}

.product-form > .blue-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 9em;
  padding: 0.3em 0.9em;
  font-weight: 700;
  color: #fff;
  background-color: #1f2c4c;
  border: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.product-form > .blue-button:hover {
  background-color: #15203b;
}
.product-form > .blue-button:active {
  background-color: #0e1529;
}

.product-table-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 9em;
  padding: 0.3em 0.9em;
  margin: auto;
  font-weight: 700;
  color: #191919;
  background-color: #f5f5f5;
  border: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.product-table-edit:hover {
  background-color: #e5e5e5;
}
.product-table-edit:active {
  background-color: #d1d1d1;
}

.content > .shop > h4 {
  margin: 1em 0 0.6em 0;
}
