.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 385px;
  width: 265px;
  padding: 10px;
  gap: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.list-view > .product-card {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  padding: 0em;
}

.product-image {
  width: 100%;
  height: 50%;
  border-radius: 12px;
  position: relative;
  background-color: #0e1529;
}

.list-view > .product-card > .product-image {
  width: 30%;
  height: 100%;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.product-image img:hover {
  transform: scale(1.05);
}

.product-image span {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-weight: 600;
  font-size: 12px;
  color: #1f2c4c;
  padding: 0.2em 0.5em;
  background: #d7e2ee;
  border-radius: 12px;
}

.product-description {
  width: 100%;
  height: 35%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 7px;
}

.list-view > .product-card > .product-description {
  width: 45%;
  height: 100%;
  padding: 1.5em 0.5em;
}

.product-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  max-height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1f2c4c;
}

.product-title:hover {
  background-color: #f2f2f2;
  transition: background-color 0.3s ease-in-out;
}

.product-description span {
  padding: 0.5em 0em;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 16px;
}

.list-view > .product-card > .product-pay {
  width: 25%;
  height: 100%;
  padding: 1.5em 1.5em 1.5em 0.5em;
  flex-direction: column;
  align-items: flex-start;
}

.list-view > .product-card > .product-pay > button {
  flex-basis: auto;
}

.list-view > .product-card > .product-pay > .product-price {
  margin-bottom: 1.5em;
}

.product-pay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-pay > button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  height: 3em;
  width: 100%;
  padding: 0.3em 0.9em;
  font-weight: 700;
  font-size: 11px;
  color: #fff;
  background: var(--primaryColor);
  border: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.product-pay > button:hover {
  background-color: #15203b;
}

.product-pay > button:active {
  background-color: #0e1529;
}

.product-pay > .wishlist-button {
  color: #191919;
  background-color: #f5f5f5;
}

.product-pay > .wishlist-button:hover {
  background-color: #e5e5e5;
}

.product-pay > .wishlist-button:active {
  background-color: #d5d5d5;
}

.product-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.1em;
  font-weight: 600;
  font-size: 16px;
}

.old-price {
  font-weight: 400;
  font-size: 0.7em;
  color: #a9a9a9;
  text-decoration: line-through 1.2px;
  text-decoration: line-through;
}

/* a:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(31, 44, 76, 0.4);
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
