@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin-top: 3.5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-logo {
  margin: 0.2em 0 0 2.5em;
  font-family: NordiquePro-Bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  width: 25%;
  min-width: 25%;
}

.login--title {
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: 500;
  text-align: left;
}

.heroSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}

.heroSection h3 {
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2.5em;
  letter-spacing: 0em;
  text-align: left;
}

.heroSection span {
  font-family: "Poppins";
  margin-top: 3em;
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0em;
  text-align: left;
}
.heroSection span a {
  color: #1f2c4c;
  margin-left: 0.5em;
  font-family: "Poppins";
  font-size: 0.95em;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0em;
  text-align: left;
}

.heroSection p {
  margin-top: -0.7em;
  font-family: "Montserrat";
  font-size: 2em;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
}

.input-password {
  position: relative;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.passwordInputType {
  background-color: #ebf1f6;
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-40%);
  width: fit-content;
  color: #212121;
  border: none;
  cursor: pointer;
}

#uemail,
#pass {
  border-radius: 0.5em;
  height: 3em;
  width: 100%;
  padding: 0.5em 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0em;
  padding-left: 10px;
  border: none;
  background-color: #ebf1f6;
}

#uemail:focus,
#pass:focus {
  outline: none;
}

#rememberMe {
  margin: 2em 0 2em 0;
}
.forgetPass {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.forgetPass a {
  color: #b5b5b5;
  margin-right: 0.5em;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: right;
  width: max-content;
}

.login-button {
  cursor: pointer;
  background-color: #1f2c4c;
  color: #fff;
  border-radius: 10px;
  height: 3em;
  width: 100%;
  font-family: "Poppins";
  font-size: 0.75em;
  font-weight: 300;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sign-up p {
  color: #b5b5b5;
  margin: 1.5em;
}

.sign-up-options {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.sign-up-option {
  width: 60px;
  height: 30px;
  font-size: 1.8em;
  border-radius: 20px;
}

.facebook {
  color: #3b5998;
}

#saly {
  width: 14.3em;
  position: absolute;
  top: 16em;
  right: 35.75em;
}

.rememberMeContainer {
  display: flex;
  align-items: center;
  gap: 0.75em;
  margin-left: 0.5em;
}

.rememberMeContainer label {
  font-size: 10px;
  font-family: "Poppins";
  font-weight: 400;
  color: #b5b5b5;
  width: max-content;
}

.rememberMe-forgetPass {
  display: flex;
  align-items: center;
  margin: 1.3em 0 2.2em 0;
}

#rememberMe {
  display: none;
}

#rememberMe + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

#rememberMe + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

#rememberMe + label::after {
  content: "\2713";
  position: absolute;
  left: 4px;
  top: 2.5px;
  color: #1f2c4c;
  font-size: 12px;
  line-height: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

#rememberMe:checked + label::after {
  opacity: 1;
}
