@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin-top: 4.5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  margin: 1.2em 0 0 2.5em;
  font-family: NordiquePro-Bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  width: 25%;
}

.login--title {
  font-family: "Poppins";
  font-size: 1.8em;
  font-weight: 500;
}

.heroSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}

.heroSection h3 {
  font-family: "Poppins";
  font-size: 3.1em;
  font-weight: 600;
  line-height: 2.5em;
  letter-spacing: 0em;
  text-align: left;
}

.heroSection span {
  font-family: "Poppins";
  margin-top: 4em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0em;
  text-align: left;
}
.heroSection span a {
  color: #1f2c4c;
  margin-left: 0.5em;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0em;
  text-align: left;
}

.heroSection p {
  margin-top: -0.7em;
  font-family: "Montserrat";
  font-size: 2.2em;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
}

.input-password {
  position: relative;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.passwordInputType {
  background-color: #ebf1f6;
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-40%);
  width: fit-content;
  color: #212121;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#uemail,
#pass {
  border-radius: 0.5em;
  height: 3em;
  width: 100%;
  padding: 0.5em 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.95em;
  letter-spacing: 0em;
  padding-left: 10px;
  border: none;
  background-color: #ebf1f6;
}

#uemail:focus,
#pass:focus {
  outline: none;
}

#rememberMe {
  margin: 2em 0 2em 0;
}
.forgetPass {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.forgetPass a {
  color: #b5b5b5;
  margin: 0 0.5em 2em 0;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  width: max-content;
}

.login-button {
  cursor: pointer;
  background-color: #1f2c4c;
  color: #fff;
  border-radius: 10px;
  height: 3em;
  width: 100%;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0em;
  box-shadow: none;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sign-up p {
  color: #b5b5b5;
  margin: 4.5em;
}

.sign-up-options {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.sign-up-option {
  width: 100px;
  height: 60px;
  background-color: #9bb7d420;
  border-radius: 20px;
}

#saly {
  width: 16.3em;
  position: absolute;
  top: 21em;
  right: 43.75em;
}

/* Customize the label (the container) */
.checkContainer {
  display: block;
  position: relative;
  margin-right: 11em;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0.5em;
  height: 25px;
  width: 25px;
  background-color: #c1d0df50;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
  background-color: #c1d0df;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
