.checkout-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 3em;
}

.checkout-page > .left-container {
  width: 60%;
  height: 100%;
  padding: 1em 1em 1em 0em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.shipping-info,
.payment-method,
.confirmation {
  width: 100%;
  margin-bottom: 1em;
}

.checkout-page > .left-container > div > .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.checkout-page > .left-container > div > .header > .lower-part {
  width: 100%;
  padding: 0.5em 0em 1em 0em;

  display: flex;
  justify-content: space-between;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
}

.checkout-page > div > div > .body {
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}

.input-checkout {
  height: 35px;
  width: 300px;
  padding: 0.3em 0.5em;
  margin: 0.2em 0em;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #ebf1f6;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.input-checkout:focus {
  outline: none;
  border-color: #1f2c4c;
  box-shadow: 0 0 3px 2px rgba(31, 44, 76, 0.5);
}

.label-checkout {
  width: max-content;
  height: 35px;
  padding: 0.3em 0.5em;
  margin: 0.5em 0em;

  display: flex;
  align-items: center;
  gap: 8px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.payment-option {
  width: 100%;
  justify-content: space-between;
  height: 35px;
  padding: 0.3em 0.9em;
  margin: 0.7em 0em;

  display: flex;
  align-items: center;
  gap: 8px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.checkout-page > .right-container {
  width: 40%;
}

.checkout-page > .right-container > .cart-container {
  position: unset;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  box-shadow: none;
}

.order-button {
  width: 170px;
  height: 45px;
  padding: 0.3em 0.9em;
  margin: 0.9em 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #fff;
  background-color: #1f2c4c;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}

.order-button:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(31, 44, 76, 0.5);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.error-message {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
  animation: fade-in 0.3s ease-in-out;
}

.success-message {
  color: #00ff00;
  font-size: 12px;
  margin-top: 5px;
  animation: fade-in 0.3s ease-in-out;
}
