.profile-page {
  min-height: 74vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1em 3em;
}

.wishlist-page {
  padding: 1em 3em;
}

.profile-page > .left-container {
  width: 20%;
  height: 100%;
  padding: 1em 1em 1em 0em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-right: 1px solid #e5e5e5;
}

.sidebar-item {
  font-weight: bold;
  margin-bottom: 0.6em;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: #191919;
}

.sidebar-item:hover,
.sidebar-item.active {
  color: #1f2c4c;
}

.subheadings {
  margin-left: 1.5em;
}

.subheadings li {
  margin-bottom: 0.3em;
}

.subheadings li > a {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: #6d6d6d;
}

.subheadings li > a:hover {
  font-weight: 500;
  color: #1f2c4c;
}

.subheadings li > a.active {
  color: #1f2c4c;
  font-weight: 600;
}

.profile-page > .right-container {
  width: 80%;
  height: 100%;
  padding: 1em 0em 1em 3em;
  background-color: #fff;
  border-left: 1px solid #e5e5e5;
}

.profile-page > .right-container > div > .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1em;
}

.profile-page > .right-container > div > .header > h3 {
  color: #1f2c4c;
  font-size: 24px;
}

.profile-page > .right-container > div > .header > p {
  padding: 0.5em 0em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #a9a9a9;
}

.create-coupon > .input-container,
.shop-form > .input-container,
.add-addresses > .input-container,
.my-profile-inputs > .input-container,
.security-inputs > .input-container,
.tfa-container,
.product-form > .input-container,
.edit-product-form > .input-container {
  width: 400px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.create-coupon > .input-container > input,
.shop-form > .input-container > textarea,
.shop-form > .input-container > select,
.shop-form > .input-container > input,
.add-addresses > .input-container > input,
.my-profile-inputs > .input-container > input,
.input-password > input,
.tfa-container > input,
.product-form > .input-container > textarea,
.product-form > .input-container > select,
.product-form > .input-container > input,
.edit-product-form > .input-container > input,
.input-password > input {
  height: 35px;
  width: 100%;
  padding: 0.3em 0.7em;
  margin: 0.5em 0em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  background-color: #ebf1f6;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  outline: none;
}

.shop-form > .input-container > textarea,
.product-form > .input-container > textarea {
  border-radius: 12px 12px 0px 12px;
  height: 70px;
}

input {
  margin-right: 5px;
  cursor: pointer;
}

.input-password {
  position: relative;
}

.show-password {
  position: absolute;
  top: 52%;
  right: 3%;
  transform: translateY(-40%);
  width: fit-content;
  color: #191919;
  border: none;
  cursor: pointer;
  background-color: #ebf1f6;
}

.create-coupon > .input-container > button,
.shop-form > .input-container > button,
.admin-info-form > .input-container > button,
.admin-security-inputs > .input-container > button,
.add-addresses > .input-container > button,
.profile-page > .right-container > div > .input-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 11em;
  padding: 0.3em 0.9em;
  margin-bottom: 0.9em;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  background: var(--primaryColor);
  border: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.create-coupon > .input-container > button:hover,
.shop-form > .input-container > button:hover,
.add-addresses > .input-container > button:hover,
.profile-page > .right-container > div > .input-container > button:hover {
  background-color: #15203b;
}

.create-coupon > .input-container > button:active,
.shop-form > .input-container > button:active,
.add-addresses > .input-container > button:active,
.profile-page > .right-container > div > .input-container > button:active {
  background-color: #0e1529;
}

.security-page > div > button:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(31, 44, 76, 0.5);
}

.error-message {
  color: #ff0000;
  font-size: 12px;
  margin: 5px 0px;
  animation: fade-in 0.3s ease-in-out;
}

.success-message,
.confirmation-message {
  color: #38d708;
  font-size: 12px;
  margin: 5px 0px;
  animation: fade-in 0.3s ease-in-out;
}

.old-addresses {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.address-item {
  display: flex;
  flex-direction: column;
}

.address-item > .inputs {
  margin-bottom: 0.5em;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.address-item > .inputs > p {
  display: flex;
  align-items: center;
  height: 35px;
  width: 200px;
  padding: 0.3em 0.7em;
  margin: 0.5em 0em 1em 0em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  background-color: #ebf1f6;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.address-item > .buttons {
  display: flex;
}

.address-item > .buttons > .delete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 9em;
  padding: 0.3em 0.9em;
  margin-bottom: 0.9em;
  font-weight: 700;
  color: #191919;
  background-color: #f5f5f5;
  border: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.address-item > .buttons > .delete:hover {
  background-color: #e5e5e5;
  color: #ff0000;
}

.address-item > .buttons > .delete:active {
  background-color: #d5d5d5;
}

.address-item > .buttons > .edit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 9em;
  padding: 0.3em 0.9em;
  margin-bottom: 0.9em;
  font-weight: 700;
  color: #fff;
  background-color: #1f2c4c;
  border: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.address-item > .buttons > .edit:hover {
  background-color: #15203b;
}
.address-item > .buttons > .edit:active {
  background-color: #0e1529;
}

.order-history-page > .header > .filter-sort {
  display: flex;
  gap: 1.5em;
  align-self: flex-end;
}

.filter,
.sort {
  height: 3em;
  margin: 0.5em 0em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  font-weight: 500;
  color: #151515;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  cursor: pointer;
}

.filter > label,
.sort > label {
  /* margin-right: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #151515; */
  font-weight: 400;
  font-size: 14px;
}

.filter > select,
.sort > select {
  font-weight: 600;
  font-size: 12px;
  color: #151515;
  background: none;
  border: none;
  border-left: 1px solid #d1d1d1;
  padding-left: 5px;
  cursor: pointer;
}

.order-history-page > .body {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.order-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.order-card {
  background-color: #f2f8fd;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.order-card button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 9em;
  padding: 0.3em 0.9em;
  margin: 0.9em 0em;
  font-weight: 700;
  color: #191919;
  background-color: #f5f5f5;
  border: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.order-card button:hover {
  background-color: #e5e5e5;
  color: #ff0000;
}

.order-card button:active {
  background-color: #d5d5d5;
}

.language-page > .body > select {
  width: 155px;
  height: 2.7em;
  margin: 0.5em 0em;
  padding: 0.3em 0.9em;
  font-weight: 700;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #151515;
  background-color: #ebf1f6;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
