.products-page {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: flex-start; */
  padding: 1em 3em;
}

.left-container > div > h3 {
  padding-bottom: 1em;
  font-weight: 600;
}

.products-page > .header {
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.products-page > .header > .upper {
  padding: 1em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-page > .header > .upper > .view {
  display: flex;
  gap: 18px;
}

.products-page > .header > .upper > .view > span {
  display: flex;
  gap: 3px;
  font-family: "Open Sans";
  font-size: 15px;
  color: #151515;
  cursor: pointer;
}

.view span.active {
  font-weight: bold;
  color: var(--primaryColor);
}

.view span.active svg {
  margin-right: 3px;
  font-size: 16px;
}

/* .products-page > .header > .lower {
} */

.products-page > .header > .lower > .sort {
  width: 175px;
}

.products-page > .body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.products-page > .body > .left-container {
  width: 28%;
  height: 100%;
  padding-right: 1.5em;

  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: flex-start;
}

.sub-categories-filter,
.rating-filter,
.price-filter {
  width: 100%;
  /* margin-bottom: 1em; */
}

/* .sub-categories-filter {
} */

.products-page > div > div > .rating-filter > .body {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;
}

.products-page > div > div > div > .body > div {
  display: flex;
  justify-content: space-between;
}

.products-page > div > div > div > .body > div > span {
  height: max-content;
  font-weight: 600;
  font-size: 12px;
  color: #1f2c4c;
  padding: 0.2em 0.5em;
  background: #d7e2ee;
  border-radius: 12px;
}
.products-page > div > div > div > .body > div > li {
  padding-bottom: 0.5em;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 15px;
}

.products-page > div > div > div > .body > label {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.price-filter > .body > .inputs > input {
  height: 35px;
  width: 47%;
  margin-bottom: 1em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  font-weight: 500;
  color: #151515;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  cursor: pointer;
}

.price-filter > .body > .buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 100%;
  padding: 0.3em 0.9em;
  margin-bottom: 0.9em;
  color: #191919;
  background: #f5f5f5;
  font-weight: 700;
  font-size: 11px;
  border: none;
  border-radius: 12px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.price-filter > .body > .buttons > button:hover {
  background-color: #e5e5e5;
}

.price-filter > .body > .buttons > button:active {
  background-color: #d5d5d5;
}

.price-filter > .body > .buttons > .apply {
  color: #fff;
  background: var(--primaryColor);
}

.price-filter > .body > .buttons > .apply:hover {
  background-color: #15203b;
}

.price-filter > .body > .buttons > .apply:active {
  background-color: #0e1529;
}

.products-page > .body > .right-container {
  width: 72%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between grid items */
}

.products-page > .body > .list-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
