.products-page {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: flex-start; */
  padding: 1em 3em;
}

.left-container > div > h3 {
  padding-bottom: 1em;
  font-weight: 600;
  font-size: 18px;
}

.products-page > .header {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.products-page > .header > .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-page > .body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.products-page > .body > .left-container {
  width: 28%;
  height: 100%;
  padding: 1em 1em 1em 0em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.categories-filter,
.rating-filter,
.price-filter {
  width: 100%;
  margin-bottom: 1em;
}

.categories-filter {
}

.products-page > div > div > div > .body {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

.products-page > div > div > div > .body > div {
  display: flex;
  justify-content: space-between;
}

.products-page > div > div > div > .body > div > span {
  height: max-content;
  font-weight: 600;
  font-size: 12px;
  color: #1f2c4c;
  padding: 0.2em 0.5em;
  background: #d7e2ee;
  border-radius: 12px;
}
.products-page > div > div > div > .body > li {
  padding-bottom: 0.5em;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 15px;
}

.products-page > div > div > div > .body > label {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.products-page > div > div > div > .body > label > input {
}
.products-page > .body > .right-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between grid items */
}
