* {
  margin: 0;
  padding: 0;
}

.menu-list {
  background-color: #d7e2ee;
  padding: 0.5em 3em;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: #151515;
}

.menu-list li a {
  color: #151515;
}
